@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/Inter-Regular.ttf");
}

@layer base {
    html {
        font-family: Inter, system-ui;
    }
}

@layer components {

    .gradient-corner {
        background-image: url(/images/bg/gradient-corner.svg);
        background-repeat: no-repeat;
        background-size: 55%;
    }

    /* ----  without concept start ---------------------------------------- */
    .green-tree {
        /*color: #606c38;*/
        @apply text-lime-700;
    }

    /* ----  without concept end ---------------------------------------- */
    .box {
        @apply py-2 px-4 rounded-md;
    }

    .text-primary, .color-primary {
        @apply text-lime-700;
    }

    .color-secondary {
        @apply text-purple-800 dark:text-purple-400;

    }

    .color-secondary-light {
        @apply text-purple-600;
    }

    .bg-primary {
        @apply bg-lime-800;
    }

    .bg-primary-light {
        @apply bg-lime-600;
    }

    .bg-secondary {
        @apply bg-purple-800;
    }

    .bg-secondary-light {
        @apply bg-purple-600;
    }

    .label {
        @apply block mb-1 text-gray-500 dark:text-gray-300 font-medium;
    }

    .input {
        @apply block w-full p-2 rounded-md shadow-sm border border-gray-300 dark:border-gray-600 text-gray-500;
    }

    .input-error {
        @apply text-red-900 dark:text-red-300;
    }

    .headline-1 {
        @apply text-4xl font-normal leading-normal mt-0 mb-2 color-secondary text-purple-600
    }

    .headline-2 {
        @apply text-3xl font-normal leading-normal mt-0 mb-2 color-secondary
    }

    .headline-3 {
        @apply text-2xl font-normal leading-normal mt-0 mb-2 color-secondary
    }

    .headline-4 {
        @apply text-xl font-normal leading-normal mt-0 mb-2 color-secondary
    }

    .button-disabled {
        @apply cursor-not-allowed opacity-25
    }

    .button-primary {
        @apply lg:mr-3 py-3 px-6 text-white font-semibold leading-none bg-primary hover:bg-primary-light hover:text-white rounded-md whitespace-nowrap
    }

    .button-secondary {
        @apply lg:mr-3 py-3 px-6 bg-gray-50 font-semibold leading-none bg-gray-50 dark:text-gray-900 hover:bg-gray-100 rounded-xl hover:color-primary rounded-md whitespace-nowrap;
    }

}

.md-editor-dark {
    --md-bk-color: none !important;
}
